{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock title%}

{% block more_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock more_css %}

{% block more_js %}
<script defer type="module" role="application" src="{% static 'javascript/dashboard.js' %}"></script>
{% endblock more_js %}

{% block body %}
        <main id="dashboard-body">
        <section>

        </section>
        
        <section>

        </section>
    </main>
{% endblock body %}