{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock title%}

{% block more_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
<link rel="stylesheet" href="{% static 'css/utilities.css' %}">
{% endblock more_css %}

{% block more_js%}
<script defer type="module" role="application" src="{% static 'javascript/profile.js' %}"></script>
{% endblock more_js %}

{% block body %}
    <main class="content-box">
        <section id="side-bar">
            <ul>
                <li id="my-profile">My Profile</li>
                <li id="edit-profile">Edit Profile</li>
                <li id="security">Security</li>
                <li id="databases">Databases</li>
                <li id="data-export">Data Export</li>
                <li id="delete-account">Delete Account</li>
            </ul>
        </section>

        <section id="content">
            {% block content %}
            {% endblock content %}
        </section>
    </main>

    <!-- <div id="avatar-edit-container">
        <div>
            <p>Edit photo <img class="cancel" src="{% static 'png/cancel.svg' %}" alt=""></p>
            <div id="avatar-edit">
                <img id="avatar" src="{% static 'png/collins.jpeg' %}">
                <div id="drag-selection"></div>
            </div>
            <div id="control">
                <div id="zoom">
                    <img src="{% static 'png/zoom-out.svg' %}" alt="zoom out">
                    <input type="range" min="100" max="180" value="0" id="zoomer">
                    <img src="{% static 'png/zoom-in.svg' %}" alt="zoom in">
                </div>
                <img src="{% static 'png/rotate-left.svg' %}" alt="rotate-left">
                <img src="{% static 'png/rotate-right.svg' %}" alt="rotate-right">
                <a href="">Save</a>
            </div>
        </div>
    </div> -->
{% endblock body%}