{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock title%}

{% block more_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock more_css %}

{% block more_js %}
<!-- <script defer type="module" role="application" src="{% static 'javascript/notification.js' %}"></script> -->
{% endblock more_js %}

{% block body %}
    <section id="profile-body">
        <section id="profile-section">
            <div class="img-name">
                <div>{{ prop_image }}</div>
                <div class="names">
                    <p>{{ profile_name }}</p>
                    <p>@{{ profile_username }}</p>
                    <p>{{ pronoun }}</p>
                </div>
            </div>

            <p id="bio">{{ bio }}</p>

            {% if owner %}
            <a href="" id="edit-profile">Edit profile</a>
            {% endif %}

            <ul id="media-details">
                {% if country != "" %}
                <li>
                    <img src="{% static 'png/mail.svg' %}" alt="">
                    <a>{{ country }}</a>
                </li>
                {% endif %}

                {% if email != "" %}
                <li>
                    <img src="{% static 'png/mail.svg' %}" alt="">
                    <a href="{{ email }}">{{ email }}</a>
                </li>
                {% endif %}

                {% if website != "" %}
                <li>
                    <img src="{% static 'png/website.svg' %}" alt="">
                    <a href="{{ website }}">{{ website }}</a>
                </li>
                {% endif %}
                
                {% if linkedin != "" %}
                <li>
                    <img src="{% static 'png/linkedin.svg' %}" alt="">
                    <a href="{{ linkedin }}">{{ linkedin }}</a>
                </li>
                {% endif %}
                
                {% if github != "" %}
                <li>
                    <img src="{% static 'png/github.svg' %}" alt="">
                    <a href="{{ github }}">{{ github }}</a>
                </li>
                {% endif %}

                {% if twitter != "" %}
                <li>
                    <img src="{% static 'png/twitter.svg' %}" alt="">
                    <a href="{{ twitter }}">{{ twitter }}</a>
                </li>
                {% endif %}

                {% if stackoverflow != "" %}
                <li>
                    <img src="{% static 'png/stack-overflow.svg' %}" alt="">
                    <a href="{{ stackoverflow }}">{{ stackoverflow }}</a>
                </li>
                {% endif %}
                
            </ul>
        </section>


        <section id="database-section">
            <p>Databases</p>
            <div id="database-list">
                <p>Owned</p>
                <div id="database">
                    <div>
                        <p id="database-name">Babyduct inventory</p>
                        <p id="database-type">postgres</p>
                    </div>
                    <div id="contributors">
                        <div>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                        </div>
                    </div>
                </div>
                <div id="database">
                    <div>
                        <p id="database-name">Babyduct inventory</p>
                        <p id="database-type">postgres</p>
                    </div>
                    <div id="contributors">
                        <div>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                        </div>
                    </div>
                </div>

                <p id="contibuting">Contributing</p>
                <div id="database">
                    <div>
                        <p id="database-name">Babyduct inventory</p>
                        <p id="database-type">postgres</p>
                    </div>
                    <div id="contributors">
                        <div>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                            <p>AV</p>
                            <p>BO</p>
                            <p>AJ</p>
                            <p>AT</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock body%}