{% load static %}
<!DOCTYPE html>
<head>
    <title>Reset Password</title>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/static/png/favicon.svg">
        <link rel="stylesheet" href="{% static 'css/reset-password.css' %}">
        <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
        <script defer type="module" role="application" src="{% static 'javascript/reset-password.js' %}"></script>
</head>
<body>
    <main class="content-box">
        <section class="login-section">
            <img src="{% static 'png/logo.svg' %}" alt="FlexiDb">
            <div>
                <p id="statement">Create new password</p>
                <span id="statement-span">Your new password must be different from the previous passwords</span>
                <!-- <a id="resend-link">Resend verification link</a> -->
                <form id="login-form">
                    {% csrf_token %}
                    <label for="password">Password</label>
                    <div>
                        <input name="password" type="password" placeholder="enter...">
                        <img id="password-toggle" class="toggle" src="{% static 'png/password-close.svg' %}" alt="">
                    </div>

                    <label for="password">Password</label>
                    <div>
                        <input name="password" type="password" placeholder="enter...">
                        <img id="password-toggle" class="toggle" src="{% static 'png/password-close.svg' %}" alt="">
                    </div>

                    <a id="submit">Reset password</a>
                </form>

            </div>
        </section>

        <section id="img-section">
            <img src="{% static 'png/reset-password.svg' %}">
        </section>
    </main>
</body>
</html>