@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

body{
    margin: 0px;
    border: 0px;
    background-color: #f6f6f6;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #ccccccab;
    border-radius: 6px;
    box-shadow: inset 0 0 6px #0000004f;
}

div[class='top']{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 13px 20px;
    height: 30px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px #9696962d);
}

a[id='brand']{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

a[id='brand']>img{
    width: 150px;
}

div[class='sub-top']{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    flex-grow: 1;
}

div[class='center-top']{
    max-height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid #12121249;
}

div[class='account']{
    display: flex;
    align-items: center;
    margin:  0px 20px;
    padding: 4px 6px;
    border:  1px solid #9696962f;
    filter: drop-shadow(0px 0px 1px #9696962f); 
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}

div[class='account']>img:first-of-type{
    border: 1px solid #07070715;
    border-radius: 5px;
}

div[class='account']>p{
    text-transform: capitalize;
    font-family: MontserratMedium;
    font-size: 13px;
    line-height: 12px;
    margin: 0 15px;
    color: #1d3b77;
}

span[id='role']{
    text-transform: lowercase;
    font-family: MontserratRegular;
    font-size: 11px;
}

div[class='center-top']>a{
    margin: 0px 20px;
    text-decoration: none;
    font-family: MontserratRegular;
    font-size: 13px;
    color: #1d3b77;
}

div[class='search']{
    display: flex;
    align-items: center;
}

div[class='search']>div{
    display: flex;
    align-items: center;
    font-family: MontserratRegular;
    font-size: 13px;
}

div[class='search']>div>img{
    cursor: pointer;
    width: 20px;
}

div[class='search']>div>span{
    margin-left: 5px;
    border: 1px solid #9696963f;
    border-radius: 4px;
    padding: 3px 0px;
    font-size: 12px;
    width: 80px;
    margin-right: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div[class='search']>img{
    width: 18px;
    transform: translate(5px, 0px);  
    opacity: 50%; 
}

div[class='search']>input{
    height: 25px;
    padding-left: 28px;
    min-width: 250px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-left: -18px;
    font-family: MontserratRegular;
    font-size: 12px;
    background-color: #f6f6f6;
}

div[class='search']>input:focus{
    outline: none;
}

div[class='notification']{
    display: flex;
    width: 26px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

div[class='notification']>img{
    max-width: 100%;
}

div[class='notification']>a{
    color: #fff;
    background-color: #f97450;
    border-radius: 100%;
    padding: 2px 4px;
    font-family: MontserratRegular;
    font-size: 9px;
    transform: translate(-15px, -7px);
}

a[id="signout"]{
    text-decoration: none;
    font-family: MontserratRegular;
    font-size: 13px;
    padding: 4px 10px 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background-color: #f97450;
    color: #fff;
    cursor: pointer;
}



/***** DIRECTORY *****/
section[id='directory']{
    display: flex;
    padding: 0px 10px;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px #96969625);
    margin-top: 10px;
}

section[id='directory']>p{
    margin: 10px 5px;
    font-family: MontserratRegular;
    font-size: 13px;
    color: #1d3b77;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section[id='directory']>p>a{
    text-decoration: none;
}

section[id='directory']>p>img{
    width: 10px;
    transform: translate(0px, 1px);
    margin: 3px;
}