@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratSemi';
    src: url('fonts/Montserrat-SemiBold.ttf') format('truetype');
}


p[id='page-title']{
    font-family: MontserratMedium;
    font-size: 17px;
    margin: 20px 50px 10px 50px;
}

main{
    display: flex;
    background-color: #fff;
    width: 95%;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 1px #96969621); 
}

section[id="side-bar"]{
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px #96969623); 
}

section[id="side-bar"]>ul{
    display: flex;
    width: 170px;
    flex-flow: column nowrap;
    align-items: flex-start;
    list-style-type: none;
    padding: 0px;
    margin: 10px 20px;
}

body li[class='tab']{
    background-color: #92bef894;
    color: #fff;
}

section[id="side-bar"]>ul>li{
    padding: 10px;
    margin: 5px 0px;
    font-family: MontserratMedium;
    font-size: 13px;
    border-radius: 20px;
    color: #12121296;
    cursor: pointer;
}

section[id="side-bar"]>ul>li:hover{
    color: #1d3b77;
}

section[id="content"]{
    margin-left: 20px;
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-grow: 1;
}

section[id="content"]>p{
    font-size: 15px;
    font-family: MontserratMedium;
    margin: 0px 0px 5px 0px;
}

section[id="content"]>p{
    font-size: 15px;
    font-family: MontserratMedium;
}

section[id="content"]>div{
    background-color: #fff;
    filter: drop-shadow(0px 0px 2px #9696962a); 
    width: 95%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
}

section[id="content"]>div>p{
    font-family: MontserratMedium;
    font-size: 13px;
    margin: 0px;
}

div[id="picture-name"]{
    display: flex;
    align-items: center;
}

div[id="picture-name"]>div:first-of-type{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 3px solid #1d3b77;
    overflow: hidden;
}

div[id="picture-name"]>div:first-of-type>img:first-of-type{
    max-width: 100%;
}

img[id='photo']{
    width: 30px;
    position: absolute;
    left: 130px;
    top: 100px;
    filter: drop-shadow(0px 0px 2px #9696968c); 
    cursor: pointer;
}

div[id="picture-name"]>div:last-of-type{
    display: flex;
    flex-flow: column;
    margin-left: 10px;
}

div[id="picture-name"]>div:last-of-type>p{
    margin: 0px 0px;
    margin-left: 10px;
}

div[id="picture-name"]>div:last-of-type>p:first-of-type{
    font-size: 14px;
    font-family: MontserratMedium;
}

div[id="picture-name"]>div:last-of-type>p:nth-of-type(2){
    font-size: 13px;
    opacity: 50%;
    font-family: MontserratRegular;
}

div[id="picture-name"]>div:last-of-type>p:nth-of-type(3){
    font-size: 12px;
    opacity: 50%;
    font-family: MontserratRegular;
}

div[id="picture-name"]>div:last-of-type>p:nth-of-type(4){
    font-size: 13px;
    opacity: 50%;
    font-family: MontserratRegular;
}

section[id="personal-info"], div[id='address'], div[id='links']{
    display: flex;
}

section[id="personal-info"]>div, div[id='address']>div, div[id='links']>div{
    min-width: 300px;
    max-width: 350px;
}

section[id="personal-info"]>div>div>p:first-of-type, div[id='address']>div>div>p:first-of-type, div[id='links']>div>div>p:first-of-type{
    font-family: MontserratRegular;
    font-size: 13px;
    opacity: 50%;
    margin: 20px 0px 0px 0px;
}

section[id="personal-info"]>div>div>p:last-of-type, div[id='address']>div>div>p:last-of-type, div[id='links']>div>div>p:last-of-type{
    font-family: MontserratRegular;
    font-size: 13px;
    margin: 5px 0px;
}

div[id='skills']{
    display: flex;
    flex-flow: row wrap;
    margin: 20px 0px;
    width: 80%;
}

div[id='skills']>p{
    padding: 10px;
    background-color: #f97450;
    margin: 10px 10px 10px 0px;
    font-family: MontserratRegular;
    font-size: 13px;
    border-radius: 20px;
    color: #fff;
}



/* section[id='profile-body']{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 10px;
    margin-top: 30px;
}

section[id="profile-section"]{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 40%;   
    padding: 10px 0px;
    background-color: #fff;
}

div[class="img-name"]{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

div[class="img-name"]>div:first-of-type{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #121212;
    color: #fff;
    font-size: 60px;
    font-family: MontserratMedium;
    border-radius: 100%;
    margin-right: 15px;
}

div[class="names"]{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

div[class="names"]>p:first-of-type{
    font-family: MontserratMedium;
    font-size: 15px;
    margin: 2px;
}

div[class="names"]>p:nth-of-type(2){
    font-family: MontserratRegular;
    font-size: 12px;
    margin: 0px;
}

div[class="names"]>p:last-of-type{
    font-family: MontserratRegular;
    font-size: 12px;
    margin: 0px;
}

p[id="bio"]{
    font-family: MontserratRegular;
    font-size: 13px;
    width: 90%;
    margin-left: 30px;
}

a[id="edit-profile"]{
    border: 1px solid #12121259;
    border-radius: 5px;
    margin-left: 30px;
    text-decoration: none;
    font-family: MontserratRegular;
    width: 70%;
    padding: 2px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    background-color: #12121238;
    color: #121212;
}

ul[id="media-details"]{
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    padding: 0px;
    margin-left: 30px;
    margin-top: 20px;
}

ul[id="media-details"]>li{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px;
}

ul[id="media-details"]>li>img{
    margin-right: 10px;
    width: 25px;
}

ul[id="media-details"]>li>a{
    font-family: MontserratRegular;
    font-size: 13px;
    text-decoration: none;
    color: #121212;
}


section[id="database-section"]{
    margin-left: 15px;
    width: 45%;
    overflow: hidden;
}

section[id="database-section"]>p{
    font-family: MontserratRegular;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 14px;
}

div[id="database-list"]{
    border: 1px solid #12121217;
    border-radius: 2px;
}

div[id="database-list"]>p{
    font-family: MontserratRegular;
    font-size: 13px;
    background-color: #12121223;
    padding: 3px 8px;
    color: #121212;
}

div[id="database"]{
    padding-left: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-bottom: 15px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}

div[id="database"]>img{
    width: 30px;
    margin-left: 20px;
}

div[id="database"]>div:first-of-type{
    display: flex;
    flex-flow: column nowrap;
}

p[id="database-name"]{
    font-family: MontserratMedium;
    margin: 5px 0px;
    font-size: 15px;
}

p[id="database-type"]{
    font-family: MontserratRegular;
    margin: 0px;
    font-size: 13px;
}

div[id="contributors"]{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px 0px;
}

div[id="contributors"]>div{
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    width: 200px;
    transform: translate(0px, 15.5px);
}

div[id="contributors"]>div>p{
    font-family: MontserratRegular;
    padding: 6px;
    font-size: 11px;
    background-color: #121212;
    color: #fff;
    border-radius: 100%;
    margin: 5px 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


p[id="contibuting"]{
    margin-top: 50px;
} */