@font-face {
    font-family: 'MontserratMedium';
    src: url('fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'MontserratRegular';
    src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}


/*******POPUP ON SCROLL*******/
.pop-up-on-scroll{
    animation: pop-up 1s ease-in-out forwards;
}

@keyframes pop-up{
    from {opacity: 0;}
    to {opacity: 1;}
}


/**********DROPDOWN***********/
div[id='dropdown']{
    display: flex;
    position: absolute;
    filter: drop-shadow(0px 0px 5px #12121225);
}

div[id='dropdown']::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #1212126b transparent;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0px 0px 5px #12121225);
}

ul[id='dropdown-list']{
    list-style-type: none;
    padding: 0px;
    padding: 5px;
    border-radius: 7px;
    background-color: #fff;
    
}

ul[id='dropdown-list']>li{
    display: flex;
    align-items: center;
    font-family: MontserratRegular;
    font-size: 13px;
    padding: 5px 0px;
    border-bottom: 1px solid #9696962f;
}

body ul[id='dropdown-list']>li:last-of-type{
    border-bottom: 1px solid transparent;
}

ul[id='dropdown-list']>li>a{
    text-decoration: none;
    color: #344968;
    margin: 0px 20px;
    cursor: pointer;
}

ul[id='dropdown-list']>li>a:hover{
    color: #ff582a;
}

ul[id='dropdown-list']>li>img{
    margin: 0px 7px 0px 0px;
    width: 20px;
}

li[class='focus']{
    background-color: #344968;
    color:  #fff;
}

li[class='focus']>img{
    background-color: #fff;
    border-radius: 2px;
}

body li[class='focus']>a{
    color: #fff;
}





/**********ALERT***********/
div[id='alert']{
    position: absolute;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px 0px;
}

p[id='alertMessage']{
    margin: 0px;
    font-family: MontserratRegular;
    color: #fff;
    font-size: 13px;
}




/**********ALERT***********/
div[id='preloader']{
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    background-color: #12121236;
}

div[id='preloader']>img{width: 10%;}




/***********SEARCH************/
div[id='search-result']{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    max-height: 350px;
    width: 400px;
    overflow-x: hidden;
    background-color: #fff;
    filter: drop-shadow(0px 0px 5px #12121231);
}

div[id='search-result']>p{
    font-family: MontserratMedium;
    font-size: 11px;
    color: #12121269;
    border: 1px solid #1212121c;
    border-width: 0px 0px 1px 0px;
    padding: 0px 0px 5px 10px;
    width: 100%;
}

div[id='search-result']>div{
    overflow: hidden;
    overflow-y: scroll;
    width: 95%;
}

div[class="result-user"]{
    border-radius: 3px;
    margin: 4px 0px;
    padding: 4px 0px;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

div[class="result-user"]:hover{
    background-color: #4665430e;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

body div[class="result-user"]:last-of-type{
    border-bottom: 1px solid transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

div[class='picture-detail']{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
}

div[class='profile-img']{
    border-radius: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color: #466543;
    color: #fff;
    font-family: MontserratMedium;
}

div[class='picture-detail']>:nth-child(2){
    display: flex;
    flex-flow: column nowrap;
    margin: 0px 8px;
    margin-right: auto;
}

div[class='picture-detail']>:nth-child(2)>p:first-of-type{
    font-family: MontserratMedium;
    font-size: 12px;
    margin: 0px;
}

div[class='picture-detail']>:nth-child(2)>p:nth-of-type(2){
    font-family: MontserratRegular;
    font-size: 10px;
    margin: 0px;
}

div[class='role']{
    display: flex;
    flex-flow: row wrap;
    font-family: MontserratRegular;
    font-size: 10px;
    justify-content: space-around;
    align-items: center;
}

div[class='role']>p{
    margin-top: 2px;
    border: 1px solid #4665433d;
    border-radius: 3px;
}



/***********RECENT SEARCH************/
div[id="recent-search"]{
    cursor:default;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px;
    border-bottom: 1px solid #1212121a;
    padding: 7px 5px;
}

div[id="recent-search"]>a{
    font-family: MontserratMedium;
    font-size: 12px;
    text-decoration: none;
    color: #121212a4;
    text-transform: lowercase;
}

div[id="recent-search"]>a:hover{
    color: #121212;
}

div[id="recent-search"]>img:first-of-type{
    margin-right: 4px;
    width: 20px;
    color: #121212a4;
}

div[id="recent-search"]>img:last-of-type{
    margin-left: auto;
    width: 20px;
    cursor: pointer;
}




/***************TOOL TIP*********/
p[id="tool-tip"]{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    font-family: MontserratRegular;
    font-size: 13px;
    background-color: #929292;
    color: #fff;
}

p[id="tool-tip"]::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #929292 transparent;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}